html, body {
  height: 100%;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  color: #707070;
  font-size: 18px; line-height: 28px;
}
.logo-pequena { display: none; }
.hometop {
  background-image: url("../img/background.png");
  height: 100vh;
  display: block;  
  position: relative;
}
.hometop .linhadotempo { width: 32px; height: 25%; position: absolute; bottom: 0; left: 0; right: 0; margin: auto}
.hometop .linhadotempo .circulo-fora { width: 32px; height: 32px; border-radius: 16px; border: 1px #fff solid; }
.hometop .linhadotempo .circulo-fora .circulo-dentro { width: 22px; height: 22px; margin: 4px; border-radius: 16px; background: #fff }
.hometop .linhadotempo .linha { width: 15px; border-right: 1px #fff solid; height: 100%; position: absolute; }

.logo {
  height: 100vh;
  display: flex;
  align-items: center; 
}
.logo img {
  z-index: 100;
}
span.parallax {
  text-align: left;
  box-sizing: border-box;
  align-items: center;
  top: 50px
}
.estatua { position: absolute }
.estatua img { width: 100% }

.quemsomos {
  background-image: url("../img/quemsomos-bg01.png");
  height: 100vh;
  display: block;
  color: #fff;
  position: relative;
}
.quemsomos .title { color: #fff; text-align: center; }
.quemsomos .lista-ano { height: 100%; font-size: 16px; text-align: center; position: absolute; border-right: 1px solid rgba(255,255,255,0.6); }
.quemsomos .lista-ano ul { padding: 0; margin: 0; list-style: none; }
.quemsomos .lista-ano ul li { padding: 4px 0; }
.quemsomos .lista-ano ul li a { color: #fff; opacity: .6; padding: 0 40px }
.quemsomos .lista-ano ul li a:hover { opacity: 1.0 }
.quemsomos .ano {
  font-size: 160px;
  color: rgba(255,255,255,0.2);
  position: absolute;
  right: 0;
  bottom: 3%;
}
.quemsomos .linhadotempo { width: 32px; height: 48%; position: absolute; top: 0; left: 0; right: 0; margin: auto}
.quemsomos .linhadotempo .circulo-fora { width: 32px; height: 32px; border-radius: 16px; border: 1px #fff solid; }
.quemsomos .linhadotempo .circulo-fora .circulo-dentro { width: 22px; height: 22px; margin: 4px; border-radius: 16px; background: #fff }
.quemsomos .linhadotempo .linha { width: 16px; border-right: 1px #fff solid; height: 100% }

.atuacao {
  height: 100vh;
  display: block;
  position: relative;
}
.atuacao .txt {
  width: 100%;
  margin: 240px 0;
}
.atuacao .item-atuacao {
  width: 100%;
  min-height: 160px;
  display: block;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin: 15px 0;
  padding: 10px;
  background-color: #231F20;
  text-align: center;
}
.atuacao .linhadotempo { width: 32px; height: 38%; position: absolute; top: 0; left: 100px; }
.atuacao .linhadotempo .circulo-fora { width: 32px; height: 32px; border-radius: 16px; border: 1px #8B0018 solid; }
.atuacao .linhadotempo .circulo-fora .circulo-dentro { width: 22px; height: 22px; margin: 4px; border-radius: 16px; background: #8B0018 }
.atuacao .linhadotempo .linha { width: 16px; border-right: 1px #8B0018 solid; height: 100% }

.equipe {
  height: 100vh;
  display: flex;
}
.equipe a.item-equipe {
  height: 100vh;
  display: flex;
  position: relative;
  background: #231F20;
}

.equipe a.item-equipe span.foto {
  width: 100%;
  height: 100vh;
}

.equipe a.item-equipe-up span.foto {
  opacity: .3;
  transition: opacity 1s;
}
.equipe a.item-equipe-up span.foto:hover {
  opacity: 1.0;
}

.equipe a.item-equipe-down span.foto {
  opacity: .3;
  transition: opacity 1s;
}
.equipe a.item-equipe-down span.foto:hover {
  opacity: 1.0;
}


.blog {
  height: 100vh;
  display: block;
}
.blog .title {
  text-align: center;
  padding: 30px 0;
  width: 100%;
}

.proposito {
  background-image: url("../img/background.png");
  display: block;
}
.proposito p {
  width: 70%;
  margin: auto;
  padding: 160px 0;
  font-size: 38px;
  line-height: 54px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.rodape {
  height: 100vh;
  display: block;
  background: #231F20;
  color: #fff;
}

.rodape .informacoes {

}
.rodape .informacoes .media {
  margin: 30px 0;
}
.rodape .informacoes .media .social {
  margin-right: 30px;
}



.title { color: #8B0018 }

h1 { font-size: 38px; line-height: 54px; font-weight: 700; }
a { color: #8B0018 }
a:hover { color: #231F20; text-decoration: none; }

.card { border: none; border-radius: 0; }
.card-img, .card-img-top { border-top-left-radius: 0; border-top-right-radius: 0; }
.card .card-body { padding: 0 }
.card .card-body .card-title { font-size: 18px; line-height: 24px; font-weight: 700; margin-top: .75rem; }
.card .card-body .card-text {  }
.card .categoria { background: #8B0018; display: block; position: absolute; top: 15px; left: -15px; font-size: 14px; padding: 0 10px; color: #fff }


.menu-total {
  background-image: url("../img/bg-menu.png");
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: 999;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}
.menu-total .links {
  width: 100%;
  display: flex;
}
.menu-total .links a {
  color: #fff
}
.menu-total .links a:hover {
  text-decoration: none;
  border-bottom: 4px solid #8B0018;
}

.menu-h {  }
.menu-h #xmenu {
  position: absolute;
  opacity: 0;
}

.menu-h label{
  cursor: pointer;
  position: relative;
  display: block;
  height: 28px;
  width: 40px;
}

.menu-h label span{
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 0;
  background: #fff;
  transition: 0.25s ease-in-out;
}

.menu-h label span:nth-child(1){
  top: 4px;
}

.menu-h label span:nth-child(2){
  top: 16px;
  width: 75%;
}

.menu-h label span:nth-child(3){
  top: 28px;
}

.menu-h #xmenu:checked + label span:nth-child(1){
  transform: rotate(-45deg);
  top: 18px;
}

.menu-h #xmenu:checked + label span:nth-child(2){
  opacity: 0;
}

.menu-h #xmenu:checked + label span:nth-child(3){
  transform: rotate(45deg);
  top:18px;
}

.owl-nav { opacity: 0.7; position: absolute; z-index: 7777; top: 48%; font-size: 90px; color: #fff; width: 100% }
.owl-prev { position: absolute; left: 20px }
.owl-next { position: absolute; right: 20px }

footer .form-control {
    display: block;
    width: 100%;
    
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid #707070;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

footer .btn-primary {
    color: #fff;
    background-color: #a30112;
    border-color: #a30112;
    padding: 10px 60px;
    border-radius: 0;
}

footer .btn-primary:hover {
    color: #fff;
    background-color: #e06c81;
    border-color: #e06c81;
}
.bg-barra { background: #a30112; }


@media (max-width: 992px) {
  .atuacao .txt {
    width: 100%;
    margin: 0 0;
    height: auto;
  }
  .atuacao .item-atuacao {
    min-height: 90px;
  }
  .blog {
    height: auto;
    padding: 30px 0
  }
  .rodape {
    height: auto;
    padding: 30px 0;
  }
  .h5, h5 {
    font-size: 1rem;
  }
  .quemsomos .lista-ano { width: 100%;; height: auto; border-right: none; border-bottom: 1px solid rgba(255,255,255,0.6); }
  .quemsomos .lista-ano ul { width: 100%; }
  .quemsomos .lista-ano ul li { display: inline-block; }
  .quemsomos .lista-ano ul li a { padding: 5px 10px; display: block; }
  .quemsomos .ano {
    font-size: 60px;
    bottom: 0;
  }
  .menu-total .links {
    display: inline-block;
    text-align: center;
    margin: auto auto;
  }
  .estatua { margin-top: 90px; }
  
}

@media (max-width: 1200px) {
  .atuacao .linhadotempo {
    height: 24%;

  }
  .estatua { margin-top: 90px;  }

}
